@import "tailwindcss";

:root {
  /* NiceConvo Brand Colors */
  --primary: #F8BA29;
  --secondary: #52CCF5;
  --light-bg: #F7F9FA;

  --background: #ffffff;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-bg: var(--light-bg);
}

body {
  background: var(--light-bg);
  color: var(--foreground);
}